# Utilidades generales
tqdm>=4.64.0
psutil
py-cpuinfo
thop>=0.1.1

# Computer Vision y procesamiento de imágenes
shapely
scikit-image
pyclipper
imagehash

# Tracking
lapx>=0.5.2

# Face recognition
gdown>=3.10.1
fire>=0.4.0

# API webserver
fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.5
jinja2==3.1.2
aiofiles==23.2.1
websockets==11.0.3
markupsafe==2.0.1

# GPIO para Jetson
Jetson.GPIO

# Procesamiento de datos
seaborn>=0.11.0
rapidfuzz

# Herramientas de desarrollo
portalocker