pillow>=7.1.2
pyyaml>=5.3.1
requests>=2.23.0
scipy>=1.4.1
tqdm>=4.64.0
psutil
py-cpuinfo
thop>=0.1.1
pandas>=1.1.4
seaborn>=0.11.0

flatbuffers>=23.5.26,<100; platform_machine == 'aarch64'
h5py!=3.11.0; platform_machine == 'aarch64'

# export
onnxsim>=0.4.33

# yolov8 track
lapx>=0.5.2

# paddleocr
shapely
scikit-image
#imgaug
pyclipper
lmdb
tqdm
numpy
rapidfuzz
#opencv-python<=4.6.0.66
#opencv-contrib-python<=4.6.0.66
cython
Pillow>=10.0.0
pyyaml

# benchmark yolov8
portalocker #ncnn


# face id
requests>=2.27.1
numpy>=1.14.0
pandas>=0.23.4
gdown>=3.10.1
tqdm>=4.30.0
Pillow>=5.2.0
#opencv-python>=4.5.5.64
#tensorflow>=1.9.0
#keras>=2.2.0
Flask>=1.1.2
#mtcnn>=0.1.0
#retina-face>=0.0.1
fire>=0.4.0
gunicorn>=20.1.0

# retinaface
numpy>=1.14.0
gdown>=3.10.1
Pillow>=5.2.0
#opencv-python>=3.4.4
#tensorflow>=1.9.0

# mtcnn
#keras>=2.0.0
#opencv-python>=4.1.0

# gpio
Jetson.GPIO

# similarity
imagehash

# API webserver process
fastapi==0.104.1
uvicorn==0.24.0
python-multipart==0.0.5
jinja2==3.1.2
aiofiles==23.2.1
websockets==11.0.3
markupsafe==2.0.1